.filter
    .filter__body
        .filter__name.filter__name_root 
            div Косметика 
            .filter__arrow.filter__arrow-down
        .filter__subcategory
            a.filter__name.filter__name_subcategory.filter__name_active(href="#") Косметика DermArgan
            a.filter__name.filter__name_subcategory(href="#") Косметика DermCactus
        a.filter__name(href="#") Пищевое масло
        a.filter__name(href="#") Масло плодов кактуса опунции
