.filter
    .filter__body
        .filter__name.filter__name_root Косметика 
            .filter__arrow
        .filter__name.filter__name_subcategory.filter__name_active Косметика DermArgan
        .filter__name.filter__name_subcategory Косметика DermCactus
        .filter__name Пищевое масло
        .filter__name Масло плодов кактуса опунции
