.description
    .description__img
    .description__body
        .description__title
        .description__rating
            .description__rating-value
            .description__rating-stars
            a.description__rating-vote
        .description__about
        .description__country
        .description__available
        .description__price
            .description__oldprice
