.description{
    display: flex;
    justify-content: center;
}

.description__img{
    max-width: 276px;
    max-height: 415px;
}

.description__body{
    display: flex;
    flex-direction: column;
    color: #646464;
    font-size: 14px;
    padding: 12px 32px;
}

.description__title{
    font-size: 18px;
    font-weight: 700;
}

.description__rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description__rating-value{
    font-weight: bold;
}

.description__rating-votes{
    margin-left: 4px;
}

.description__rating-vote{
    text-decoration: underline;
}

.description__rating-stars{
    display: flex;
    justify-content: space-between;
    width: 212px;
    height: 31px;
}

.description__rating-star{
    width: 35px;
    height: 31px;
    background: url(img/item__star.png);
}

.description__rating-star_active{
    background: url(img/item__star_active.png);
}

.description__price{
    margin-bottom:  10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 24px;
    font-weight: 700;
}

.description__oldprice{
    padding-bottom: 3px;
    margin-left: 20px;
    margin-right: 60px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
}

@media(max-width: 700px), (max-device-width: 700px){
    .description__price{
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .description__oldprice{
        margin-left: 4px;
        margin-right: 4px;
    }
}

@media(max-width: 450px), (max-device-width: 450px){
    .description__price{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.description__button-arrow{
    width: 15px;
    height: 20px;
    background: url(img/button__left.png) no-repeat center;
    cursor: pointer;
}

.description__button-arrow_right{
    transform: rotate(180deg);
}

.description__count{
    width: 41px;
    height: 41px;
    border: 1px solid #c0c030;
    -moz-appearance:textfield;
    font-size: 18px;
    color: #646464;
    text-align: center;
    margin: 12px;
}
.description__count::-webkit-outer-spin-button,
.description__count::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media(max-width: 360px), (max-device-width: 360px){
    .g-recaptcha{
        transform: scale(0.85);
        max-width: unset;
    }
}