.title{
    max-width: 1170px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
}

.title__line{
    height: 1px;
    width: 40%;
    background-color: #acacac;
    position: relative;
}

.title__line_small{
    width: 30%;
}

.title__text{
    color: #646464;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
}

.title__line-left::after{
    position: absolute;
    content: "";
    border-radius: 100%;
    right: -30px;
    top: -5px;
    width: 13px;
    height: 13px;
    background-color: #acacac;
}
.title__line-right::before{
    position: absolute;
    content: "";
    border-radius: 100%;
    left: -30px;
    top: -5px;
    width: 13px;
    height: 13px;
    background-color: #acacac;
}

@media (max-width:900px),(max-device-width:900px) {
    .title__line{
        width: 30%;
    }
}
@media (max-width:600px),(max-device-width:600px) {
    .title__line{
        width: 20%;
    }
}

@media (max-width:1015px),(max-device-width:1015px) {
    .title__line_small{
        width: 25% !important;
    }
}
@media (max-width:800px),(max-device-width:800px) {
    .title__line_small{
        width: 15% !important;
    }
}
@media (max-width:540px),(max-device-width:540px) {
    .title__line_small{
        width: 5% !important;
    }

    .title__text{
        padding: 0px 40px;
    }
}
