.d-flex.flex-wrap.justify-content-around.px-2.mb-5
    a.company(href="#")
        .company__label Косметика DermArgan
        img.company__img(src="img/company__dermargan.png", alt="company_name")
    a.company(href="#")
        .company__label Косметика DermCactus
        img.company__img(src="img/company__dermcactus.png", alt="company_name")
        
