.container.text-justify.text-md-left
    h2.company-desc__title Катaлог косметики
    p.company-desc__body Создание бренда Дерм Арган (Derm Argan) можно отнести к началу 2000 года. В то время Аргановое масло и косметика на основе Арганового масла была не так широко известна во всем мире. Только сейчас Аргановое масло принимает такую популярность в косметологии и парикмахерском деле. О его пользе написано много в интернете, средства массовой информации рекламируют продукцию на основе Арганового масла.
    p.company-desc__body Наше новое направление  - бренд  Дерм Кактус (Derm Cactus). Это не просто масло обычного кактуса, которое бессомнено полезно – это масло плодов кактуса Опунции ( так же может встречаться название - Индийская фига). Благодаря ее свойствам, большому содержанию витамина Е, масло плодов кактуса Опунции можно также назвать лечебным.  
