.pagination
    a.pagination__button(href="#")
    .pagination__pages
        a.pagination__pages-item(href="#") 1
        a.pagination__pages-item.pagination__pages-item_active(href="#") 2
        a.pagination__pages-item(href="#") 3
    a.pagination__button.pagination__button_right(href="#")