section.main-carousel.owl-carousel.owl-theme
    .container-fluid.main-carousel__item(style="background:url('img/carousel.png') no-repeat center / cover")
        h2.main-carousel__title Argan Bio House
        h3.main-carousel__subtitle Арган - источник долголетия
        button.button Заказать звонок
    .container-fluid.main-carousel__item(style="background:url('img/carousel.png') no-repeat center / cover")
        h2.main-carousel__title Argan Bio House
        h3.main-carousel__subtitle Арган - источник долголетия
        button.button Заказать звонок
    .container-fluid.main-carousel__item(style="background:url('img/carousel.png') no-repeat center / cover")
        h2.main-carousel__title Argan Bio House
        h3.main-carousel__subtitle Арган - источник долголетия
        button.button Заказать звонок
