section.container
    .categories
        a.category(href="#")
            .category__img.category__img_1
            .category__title Косметика с Аргановым маслом
        a.category(href="#")
            .category__img.category__img_2
            .category__title Пищевое Аргановое масло
        a.category(href="#")
            .category__img.category__img_3
            .category__title Масло плодов кактуса опунции

 
