section.container
    .title
        .title__line.title__line_small.title__line-left
        h2.title__text Наши преимущества
        .title__line.title__line_small.title__line-right
    
    .container
        .row.justify-content-around
            .col-lg-2.col-sm-6.mx-auto.mb-3.mb-xl-0
                img.advantage__img(src="img/advantage1.png", alt="Преимущество 1")
                h3.advantage__text 100% натуральный
                    br
                    | продукт
            .col-lg-3.col-sm-6.mx-auto.mb-3.mb-xl-0
                img.advantage__img(src="img/advantage2.png", alt="Преимущество 2")
                h3.advantage__text Сертифицированная
                    br
                    | продукция
            .col-lg-2.col-sm-6.mx-auto.mb-3.mb-xl-0
                img.advantage__img(src="img/advantage3.png", alt="Преимущество 3")
                h3.advantage__text Быстрая 
                    br
                    | доставка 
            .col-lg-2.col-sm-6.mx-auto.mb-3.mb-xl-0
                img.advantage__img(src="img/advantage4.png", alt="Преимущество 4")
                h3.advantage__text Свое производство
                    br
                    | в Марокко
            .col-lg-2.col-sm-6.mx-auto.mb-3.mb-xl-0
                img.advantage__img(src="img/advantage5.png", alt="Преимущество 5")
                h3.advantage__text Натуральные
                    br
                    | компоненты
    
