doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body.text-center.text-md-left
        include ../blocks/header/header.jade
            
        main
        
            ul.container.breadcrumbs.px-4.px-xl-0.my-4
                li
                    a.breadcrumbs__item(href="#") Главная
                li
                    a.breadcrumbs__item.breadcrumbs__item_active(href="#") Косметика
            .container.d-flex.flex-column.flex-xl-row.justify-content-around.px-0
                .col-12.col-xl-3
                    include ../blocks/filter/filter_catalog.jade
                .col-12.col-xl-9.justify-content-center
                    include ../blocks/company-desc/company-desc.jade
                    include ../blocks/company/company.jade
                    include ../blocks/product/catalog.jade
        
        include ../blocks/footer/footer.jade
