doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body.text-center.text-md-left
        include ../blocks/header/header.jade
            
        main
        
            ul.container.breadcrumbs.px-4.px-xl-0.my-4
                li
                    a.breadcrumbs__item(href="#") Главная
                li
                    a.breadcrumbs__item.breadcrumbs__item_active(href="#") Косметика
            
            include ../blocks/main-carousel/main-carousel.jade
            include ../blocks/product/sale.jade
            include ../blocks/news/news.jade
        
        include ../blocks/footer/footer.jade
