section.container
    .title
        .title__line.title__line_small.title__line-left
        h2.title__text О компании
        .title__line.title__line_small.title__line-right
    .container
        .row.align-items-center
            .col-lg-6.mb-4
                p.container__text Лаборатория ДермАрган разрабатывает и производит натуральную косметику на основе Арганового масла и масла семян плодов кактуса Опунции, известным как Индийская фига. Компания образована в Марокко в 2000 году. 
                p.container__text Производственное оборудование отвечает самым современным технологическим ГОСТам. Оно многофункционально, что дает возможность работать в различных режимах, в зависимости от  требований конкретного процесса. Мокко в 2000 году. 
                p.container__text Одним из основных принципов работы лаборатории – это контроль на всех производственных участках - от приготовления деминерализованной воды
                a.link_green(href="#") Узнать больше о компании
            
            .col-lg-6
                img.about__img.img-fluid(src="img/about.png", alt="Мы лучшие!")
