footer.footer
    .footer__top-wrapper.flex-column.flex-lg-row.px-3.px-xl-0
        .footer__text.location-icon.mb-2.mb-md-0 м. Молодежная, ул. Ельнинская дом 15
        .footer__text.telephone-icon.d-flex.justify-content-between.align-items-center
                a.mr-2(href="tel:+79104796273") +7 (910) 479-62-73
                a(href="tel:+79165357317") +7(916) 535-73-17
        a.footer__text.mail-icon.pl-4(href="mailto:lighn_006@hotmail.com") lighn_006@hotmail.com

    .footer__bottom.px-3.px-xl-0
        .footer__bottom-wrapper.flex-column.flex-lg-row
            .footer__text.footer__text_small.mb-2.mb-lg-0 © Argan Bio House. Все права защищены
            .footer__socials.mb-2.mb-lg-0
                a.vk-icon(href="#")
                a.fb-icon(href="#")
                a.ok-icon(href="#")
                a.tw-icon(href="#")
            .footer__develop
                .footer__text.footer__text_small Сайт разработан
                a.develop-icon(href="http://web-comp.ru")
            
