.recommend-carousel{
    margin-top: 18px;
}

.owl-nav{
    height: 0;
    font-size: 0;
    margin: 0;
}

.owl-prev::before{
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    width: 16px;
    height: 30px;
    background: url(img/carousel__nav.png) no-repeat center;
}

.owl-next::before{
    position: absolute;
    right: 0;
    top: 50%;
    content: "";
    width: 16px;
    height: 30px;
    background: url(img/carousel__nav.png) no-repeat center;
    transform: rotate(180deg);
}