section.container
    .d-flex.col-12.flex-wrap.justify-content-around.p-1.mx-auto
        .news
            a(href="#")
                img.news__img(src="img/news__img.png", alt="news photo")
            .news__body
                .news__title Выставка<br />InterCHARM 2016
                .news__date 22-03-2017
                .news__preview Дорогие друзья! Мы очень рады пригласить Вас на очередную выставку- продажу наших брендов
            a.news__readmore(href="#") Подробнее
        .news
            a(href="#")
                img.news__img(src="img/news__img.png", alt="news photo")
            .news__body
                .news__title Выставка<br />InterCHARM 2016
                .news__date 22-03-2017
                .news__preview Дорогие друзья! Мы очень рады пригласить Вас на очередную выставку- продажу наших брендов
            a.news__readmore(href="#") Подробнее
        .news
            a(href="#")
                img.news__img(src="img/news__img.png", alt="news photo")
            .news__body
                .news__title Выставка<br />InterCHARM 2016
                .news__date 22-03-2017
                .news__preview Дорогие друзья! Мы очень рады пригласить Вас на очередную выставку- продажу наших брендов
            a.news__readmore(href="#") Подробнее
    .text-center
        a.link_green(href="#") Посмотреть все новости
