section.full-description__section(style="display:none")
    .full-description  БИО 50 мл 100% натуральное ( бутылка с темным стеклом ). Использование Арганового масла из Марокко идеально подходит для употребления как в начале дня - основа под макияж, так и в конце дня - для успокоения раздраженной кожи лица и шеи. 