.product__sort
    span Сортировать по:
    span.product__sortitem названию
        span.product__arrow
    span.product__sortitem цене
        span.product__arrow
    span.product__sortitem.product__sortitem_active популярности
        span.product__arrow.product__arrow_up
.d-flex.flex-wrap.justify-content-between
    .product.product_catalog
        .product__visual
            img.product__photo(src = "img/product__photo.png", alt="Argan oil")
            .product__label sale
        a.product__name(href="item.html") Аргановое масло<br />( Premium Class )
        .product__description БИО 80 мл 100%  натуральное
        .d-flex.mx-2.my-3.justify-content-between.align-items-center
            .d-flex
                .product__price 1000 руб
                .product__oldprice 1300 руб
            .d-flex
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star
        .d-flex.mx-2.justify-content-between.align-items-center
            button.button.button_buy В корзину
            label.product__compare Сравнить
                input(type="checkbox")
                span
    .product.product_catalog
        .product__visual
            img.product__photo(src = "img/product__photo.png", alt="Argan oil")
            .product__label hit
        a.product__name(href="item.html") Аргановое масло<br />( Premium Class )
        .product__description БИО 80 мл 100%  натуральное
        .d-flex.mx-2.my-3.justify-content-between.align-items-center
            .d-flex
                .product__price 1000 руб
                .product__oldprice 1300 руб
            .d-flex
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star.product__star_active
        .d-flex.mx-2.justify-content-between.align-items-center
            button.button.button_buy В корзину
            label.product__compare Сравнить
                input(type="checkbox")
                span
    .product.product_catalog
        .product__visual
            img.product__photo(src = "img/product__photo.png", alt="Argan oil")
            .product__label new
        a.product__name(href="item.html") Аргановое масло<br />( Premium Class )
        .product__description БИО 80 мл 100%  натуральное
        .d-flex.mx-2.my-3.justify-content-between.align-items-center
            .d-flex
                .product__price 1000 руб
                .product__oldprice 1300 руб
            .d-flex
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star
                span.product__star
        .d-flex.mx-2.justify-content-between.align-items-center
            button.button.button_buy В корзину
            label.product__compare Сравнить
                input(type="checkbox")
                span
    .product.product_catalog
        .product__visual
            img.product__photo(src = "img/product__photo.png", alt="Argan oil")
            .product__label sale
        a.product__name(href="item.html") Аргановое масло<br />( Premium Class )
        .product__description БИО 80 мл 100%  натуральное
        .d-flex.mx-2.my-3.justify-content-between.align-items-center
            .d-flex
                .product__price 1000 руб
                .product__oldprice 1300 руб
            .d-flex
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star
        .d-flex.mx-2.justify-content-between.align-items-center
            button.button.button_buy В корзину
            label.product__compare Сравнить
                input(type="checkbox")
                span
    .product.product_catalog
        .product__visual
            img.product__photo(src = "img/product__photo.png", alt="Argan oil")
            .product__label sale
        a.product__name(href="item.html") Аргановое масло<br />( Premium Class )
        .product__description БИО 80 мл 100%  натуральное
        .d-flex.mx-2.my-3.justify-content-between.align-items-center
            .d-flex
                .product__price 1000 руб
                .product__oldprice 1300 руб
            .d-flex
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star
        .d-flex.mx-2.justify-content-between.align-items-center
            button.button.button_buy В корзину
            label.product__compare Сравнить
                input(type="checkbox")
                span
    .product.product_catalog
        .product__visual
            img.product__photo(src = "img/product__photo.png", alt="Argan oil")
            .product__label sale
        a.product__name(href="item.html") Аргановое масло<br />( Premium Class )
        .product__description БИО 80 мл 100%  натуральное
        .d-flex.mx-2.my-3.justify-content-between.align-items-center
            .d-flex
                .product__price 1000 руб
                .product__oldprice 1300 руб
            .d-flex
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star.product__star_active
                span.product__star
        .d-flex.mx-2.justify-content-between.align-items-center
            button.button.button_buy В корзину
            label.product__compare Сравнить
                input(type="checkbox")
                span
    
    
