section.container
    .product
        .product__visual.product__img_sale
            img.product__photo(src = "")
        .product__name
        .product__description
        .row
            .product__price
            .product__oldprice
            .product__rating
        button.button.button_buy
        input.product__compare
