
section.container
    .title
        .title__line.title__line-left
        h2.title__text Акции
        .title__line.title__line-right
    .d-flex.col-12.col-lg-10.col-xl-12.flex-wrap.justify-content-around.p-1.mx-auto
        .product
            .product__visual
                img.product__photo(src = "img/product__photo.png", alt="Argan oil")
                .product__label sale
            .product__name Аргановое масло<br />( Premium Class )
            .product__description БИО 80 мл 100%  натуральное
            .d-flex.mx-2.my-3.justify-content-between.align-items-center
                .d-flex
                    .product__price 1000 руб
                    .product__oldprice 1300 руб
                .d-flex
                    span.product__star.product__star_active
                    span.product__star.product__star_active
                    span.product__star.product__star_active
                    span.product__star.product__star_active
                    span.product__star
            .d-flex.mx-2.justify-content-between.align-items-center
                button.button.button_buy В корзину
                label.product__compare Сравнить
                    input(type="checkbox")
                    span
        .product
            .product__visual
                img.product__photo(src = "img/product__photo.png")
                .product__label sale
            .product__name Аргановое масло<br />( Premium Class )
            .product__description БИО 80 мл 100%  натуральное
            .d-flex.mx-2.my-3.justify-content-between.align-items-center
                .d-flex
                    .product__price 1000 руб
                    .product__oldprice 1300 руб
                .d-flex
                    span.product__star.product__star_active
                    span.product__star.product__star_active
                    span.product__star.product__star_active
                    span.product__star.product__star_active
                    span.product__star
            .d-flex.mx-2.justify-content-between.align-items-center
                button.button.button_buy В корзину
                label.product__compare Сравнить
                    input(type="checkbox")
                    span
        .product
            .product__visual
                img.product__photo(src = "img/product__photo.png")
                .product__label sale
            .product__name Аргановое масло<br />( Premium Class )
            .product__description БИО 80 мл 100%  натуральное
            .d-flex.mx-2.my-3.justify-content-between.align-items-center
                .d-flex
                    .product__price 1000 руб
                    .product__oldprice 1300 руб
                .d-flex
                    span.product__star.product__star_active
                    span.product__star.product__star_active
                    span.product__star.product__star_active
                    span.product__star.product__star_active
                    span.product__star
            .d-flex.mx-2.justify-content-between.align-items-center
                button.button.button_buy В корзину
                label.product__compare Сравнить
                    input(type="checkbox")
                    span
        .product
            .product__visual
                img.product__photo(src = "img/product__photo.png")
                .product__label sale
            .product__name Аргановое масло<br />( Premium Class )
            .product__description БИО 80 мл 100%  натуральное
            .d-flex.mx-2.my-3.justify-content-between.align-items-center
                .d-flex
                    .product__price 1000 руб
                    .product__oldprice 1300 руб
                .d-flex
                    span.product__star.product__star_active
                    span.product__star.product__star_active
                    span.product__star.product__star_active
                    span.product__star.product__star_active
                    span.product__star
            .d-flex.mx-2.justify-content-between.align-items-center
                button.button.button_buy В корзину
                label.product__compare Сравнить
                    input(type="checkbox")
                    span
